.auth, nav {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px;
}

nav { 
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
    border: 1px solid lightgrey;
}

nav a {
	float: left;
	width: 50%; 
	background: #d4d0d0;
	text-align: center; 
	text-decoration: none;
}

nav a:hover {
	background: #afafaf;
	color: #fff;
}

nav a.activeLink {
	background: grey;
	color: #fff;
}