<form novalidate [formGroup]="user"> 
 
    <input
      type="email"
      name="email"
      formControlName="email"
      placeholder="Your email address">

      <div *ngIf="user.get('email').hasError('required') && user.get('email').touched">
        This dude is necessary man!
      </div>

        <div *ngIf="user.get('email').hasError('email') && user.get('email').touched && !user.get('email').hasError('required')">
        Wrong email format!
      </div>
 
    <input
      type="email"
      name="confirm-email"
      formControlName="confirm"
      placeholder="confirm your e-mail">

      <div *ngIf="user.get('confirm').hasError('required') && user.get('confirm').touched">
        Don't you forget to confirm your email dude!s
      </div> 
 
       <div *ngIf="user.get('confirm').touched && user.hasError('nomatch')">
        Confirmation email doesn't look like your 
      </div> 
 
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Your password">

      <div *ngIf="user.get('password').hasError('required') && user.get('password').touched">
        You need a password!
      </div>

      <div *ngIf="user.get('password').hasError('minLength') && user.get('password').touched">
        You can do better..!
      </div>

  <button type="submit">Sign up</button>
</form>
 