<section class="todo-component">
    <h2>Todo App</h2>

    <div class="todo-component__header">
        <input type="text"
           class="header__add-todo"
           [(ngModel)]="newTodo"
           (keyup.enter)="addTodo()"
            placeholder="Note something to do">
    </div>

    <div class="todo-warning" *ngIf="isEmptyWarning">
        <b>You can't create a TODO without a title right?;)</b>
    </div>

    <div class="todo-warning" *ngIf="isSameWarning">
        <b>This one is already exist!</b>
    </div>

    <div class="todo-component__list">
        <ul>
            <li *ngFor="let item of list" class="list-item">
                <span *ngIf="!editingTodo"><b>{{item.title}}</b></span>
                <span (click)="editTodo(item)"> -- Edit -- </span>

                <span (click)="checkTodo(item.title)"> -- Assign Todo As Done --</span>

                <span (click)="removeTodo(item.title)"> -- Remove Item -- </span>
            </li>
        </ul>
    </div>

    <button type="button" class="todo-component__clear" (click)="clearTodos()">
        Clear Everything!
    </button>
</section>

<p>This comes from the test http call: </p>

<div *ngFor="let mData of testList">
    <span>{{mData?.mockProp}}</span>
</div>




