* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.todo-component {
    width: 90%;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 20px auto;
}

.todo-component__title {
    margin: 10px;
}

.todo-input {
    width: 90%;
    height: 30px;
    font-size: 1em;
    color: grey;
}

.todo-warning {
    margin-top: 10px;
}

.list-item {
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    text-align: left;
}

.list-item__check {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 100%;
    position: relative;
    left: 0;
    top: 0;
    background: #fff;
}

.todo-item--checked {
    text-decoration: line-through;
    color: grey;
}

.list-item__title {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
}

.list-item__edit, .list-item__remove {
    float: right;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    margin-right: 10px;
    border-radius: 100%;
    position: relative;
    top: -1px;
    right: -20px;
    cursor: pointer;
}

.list-item__edit {
    background: #d4d0d0;
}

.list-item__edit:hover {
    background: #808080;
}

.list-item__remove {
    background: #d4d0d0;
}

.list-item__remove:hover {
    background: #808080;
    color: #fff;
}

.todo-warning {
    color: red;
}

.button-container {
    position: relative;
}

.todo-component__clear {
    margin-top: 20px; 
    width: 150px;
    height: 45px;
    outline: none;
    position: relative;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8em;
} 

.todo-component__clear__label {
    position: relative;
    z-index: 3;
    display: block;
}

.clearWarning-progress {
    width: 0%;
    height: 43px;
    position: absolute;
    left: 0;
    border-radius: 5px;
    top: 0;
    display: block;
    background-color: red;
    -webkit-transition: width 2s;
}

.clearWarning-progress--active {
    width: 100%;
}
 
.todo-component__clear:hover {
    background: #f5f5f5
}

.clear-warning-state {
    background: transparent; 
    padding: 10px;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.clear-warning-state:hover,
.clear-warning-state:focus {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
 




