* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.todo-component {
    width: 90%;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin: 20px auto;
}

.todo-component__title {
    margin: 10px;
}

.todo-input {
    width: 90%;
    height: 30px;
    font-size: 1em;
    color: grey;
}

.todo-warning {
    margin-top: 10px;
}

.list-item {
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    text-align: left;
}

.list-item__check {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 100%;
    position: relative;
    left: -10px;
    top: -1px;
    background: #fff;
}

.list-item__title {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;

}

.todo-warning {
    color: red;
}

.todo-component__clear {
    margin-top: 20px;
}